html,
body,
#__next,
#container,
#map {
  height: 100%;
}

body {
  margin: 0px;
  color: #f05a89;
}

.custom-map-control-button {
  width: 60px;
  left: 70px !important;
  bottom: 30px !important;
}

.popup {
  position: absolute;
  top: 30%;
  width: 100%;
  padding: 30px;
  box-sizing: border-box;
  font-family: sans-serif;
  font-size: 20px;
}

.popup-speaker {
  color: #ff5555;
  font-weight: bold;
  padding: 10px 0;
}

.popup-wrapper {
  margin: auto;
  width: 90%;
  background: #99bcca;
  padding: 20px;
  color: white;
  border-radius: 20px;
}

button {
  background: #f05a89;
  color: white;
  padding: 10px;
  font-size: 20px;
  border-radius: 26px;
  width: 100px;
  border: none;
  margin: 20px;
  margin-bottom: 0px;
}
